# typescript
lib

# x-lisp
*.o
*.exe

# c
*.o
*.a
*.po
*.test
*.snapshot

# npm
node_modules

# 0x
*.0x/

# emacs
*~
*#*
.#*

# GNU global
GPATH
GRTAGS
GTAGS

# vscode
.vscode

# idea
.idea

# macOS
.DS_Store